
.nav-tabs-custom {
  overflow: auto;
}

.main-header .logo {
    font-weight: bold;
    font-size: 48px;
    height: 100px;
    padding-top: 25px;
}

.sidebar {
  padding-top: 50px;
}

.sidebar-menu{
  font-size: 48px;
}

.box.box-solid.box-primary {
  border: 1px solid black;
}

.box.box-solid.box-primary > .box-header {
    color: #fff;
    background: #333;
    background-color: #333
}

