
/*Font size of table titles*/
.box-header .box-title{
  font-size:32px;
}

.nav-tabs-custom {
  overflow: auto;
  font-size:32px;
}

.main-header .logo {
    font-weight: bold;
    font-size: 48px;
    height: 100px;
    padding-top: 25px;
}

.sidebar {
  padding-top: 50px;
}

.sidebar-menu{
  font-size: 44px;
}

/*Font size of tables*/
.box.box-solid.box-primary {
  border: 1px solid black;
  font-size: 28px;
}

.box.box-solid.box-primary > .box-header {
    color: #fff;
    background: #333;
    background-color: #333
}

